.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    flex: 1 1 50%;
    line-height: 1.4;
}

.welcome h1 span:first-child {
    font-weight: 500;
    font-size: 2rem;
}

.welcome h1 span:last-child {
    font-size: 4rem;
    font-weight: 700;
}

.welcome h2 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
}

.avatar {
    flex: 1 1 20%;
}

@media only screen and (max-width: 576px) {
    .landing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        display: none;
    }
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
}
