.container {
    width: 100%;
    height: auto;
    margin: auto;
}

.technologiesContainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.151);
}

.imageContainer {
    flex: 1 1 20%;
    padding: 3rem 2rem;
}

.image {
    width: 5rem;
    height: 5rem;
    margin: auto;
}

.buttonContainer {
    width: 80%;
    height: auto;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    flex-basis: 35%;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #fff;
    background-color: #fff;
    outline: none;
}

.button:first-of-type {
    border-radius: 15px 0 0 0;
}

.button:last-of-type {
    border-radius: 0 15px 0 0;
}

.selected {
    border-bottom: 3px solid var(--underline-color);
}

@media only screen and (max-width: 768px) {
    .imageContainer {
        padding: 1.5rem 1rem;
    }
    .image {
        width: 4rem;
        height: 4rem;
    }
    .button {
        flex-basis: 50%; 
    }
}
