.contactForm {
    margin: auto;
    width: 50%;
    height: auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.formControl {
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}

.formIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    visibility: hidden;
}

.form div {
    width: 50%;
    padding: 0.25rem;
}

.formLabel {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.formInput {
    width: 100%;
    height: 2.3rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #b3b3b3b6;
    background-color: #f1f1f1;
}

.formInput:focus,
.formInput:hover {
    border-bottom: 2px solid var(--underline-color);
}

.form div:last-child {
    width: 100%;
}

.formTextarea {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #b3b3b3b6;
    background-color: #f1f1f1;
}

.submit {
    text-align: left;
    margin-left: 0.25rem;
}

.submitInput {
    height: 2.6rem;
    width: 10rem;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
    transition: all ease 0.1s;
    appearance: none;
}

.submitInput:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
        -4px -4px 12px 0 rgba(255, 255, 255, 0.3);
    transform: scale(0.95);
    transition: all ease 0.1s;
}

@media only screen and (max-width: 768px) {
    .contactForm {
        width: 100%;
    }
    .form {
        flex-direction: column;
    }
    .form div {
        width: 100%;
        padding: 0.25rem;
        text-align: center;
    }
    .submit {
        text-align: center;
        margin-left: 0rem;
    }
    .submitInput {
        width: 98%;
    }
}
