@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
    --font-color: rgb(34, 34, 34);
    --secondary-color: rgba(113, 46, 255, 0.9);
    --underline-color: rgba(113, 46, 255, 0.5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 5% 15% 0 15%;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 14px;
    }
    .container {
        padding: 5% 5% 5% 5%;
    }
}
